#box3 {
    margin-left: 40px;
    margin-top: 20px;
}
#box3 ul li {
    list-style: none;
}
#box3 ul li h4 {
    font-weight: bold;
}
#box3 ul li .left {
    float: left;
}
.el-panel .panel-title span{
    border-bottom: 3px solid;
}
.pull-left{
    float: left; !important;
}
.el-panel .panel-title{
    font-size: 24px;
    color:#00a8ff;
    font-weight: bold;
}
.el-table thead th{
    color: #999;
    font-size: 16px;
    font-weight: bold;
}
.el-table tbody tr td{
    font-size: 16px;
    vertical-align: middle;
}
tbody>tr>td{
    padding: 8px;
    line-height: 10px;
    border-top: 1px solid #ddd;
}
.el-panel .panel-title{
    font-size: 24px;
    color: #2e8ece;
    font-weight: bold;
    overflow: hidden;
    border-bottom: 1px solid #e8e8e8;
    margin: 10px 0px 16px;
}
.pull-left{
    float: left;!important;
}
.pull-right{
    float: right;!important;
}
.el-new-list ul li a{
    color: #555;
}
.el-new-list ul li{
    list-style-type: none;
    line-height: 38px;
    font-size: 14px;
    border-bottom: 1px dotted #eee;
}